<h1>Listing users</h1>
  <table>
    <tr>
      <th>Name</th>      
      <th></th>      
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>

      <th><%= user.role_id %></th>
      <td><%if user.role_id ==1 %>
          Customer
        <% else %>
          admin
      <td>
        <%= form_for(user) do |f| %>
        
          <%= f.radio_button :role_id, (1 if user.role_id ==1), :value => 1 %>Customer
          <%= f.radio_button :role_id, (2 if user.role_id !=1), :value => 2 %>Admin
          <%= f.submit "Change Role" %>

        <% end %>
      </td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
</table>